In [ ]:
import pandas as pd
import numpy as np
import requests

# resources

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'resources/'
URlRequest = URlAPI + docType
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df=pd.DataFrame(data)
df

# dashboards

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'dashboards/'
guid = 'ACCES-A-INTER'
formatRes = '.json/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
response.content # bytes

In [ ]:
response.encoding = 'utf-8'
response.text # string

In [ ]:
response.json() # diccionario

In [ ]:
response.headers # info

In [ ]:
data = response.json()

In [ ]:
data.keys()

In [ ]:
df=pd.DataFrame(data['resources'])
df

,doc_type,datastream,parameters,h,order,link,w,y,x,guid,type,id,revision,html
0,visualization,{'revision': 275028},,4,0,http://datosabiertos.enacom.gob.ar/visualizati...,4,0,0,PENET-DE-INTER-FIJO-57760,vz,32226.0,"{'vz_lib': 'google', 'vz_impl_details': {'form...",NaN
1,visualization,{'revision': 281491},,4,1,http://datosabiertos.enacom.gob.ar/visualizati...,4,0,4,PENET-POR-HOGAR-NACIO-DEL,vz,29883.0,"{'vz_lib': 'google', 'vz_impl_details': {'form...",NaN
2,datastream,NaN,,4,2,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,0,8,TOTAL-NACIO-DE-ACCES-48866,ds,240976.0,"{'parameters': [], 'title': 'Total nacional de...",NaN
3,datastream,NaN,,4,3,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,4,0,BANDA-ANCHA-Y-BANDA-ANGOS,ds,240974.0,"{'parameters': [], 'title': 'Accesos a banda a...",NaN
4,visualization,{'revision': 275029},,4,4,http://datosabiertos.enacom.gob.ar/visualizati...,4,4,4,SERIE-TRIME-DE-ACCES-A,vz,29881.0,"{'vz_lib': 'google', 'vz_impl_details': {'form...",NaN
5,datastream,NaN,,4,5,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,4,8,ACCES-A-INTER-FIJO-POR,ds,240898.0,"{'parameters': [], 'title': 'Acceso a Internet...",NaN
6,NaN,NaN,,4,6,NaN,4,8,0,NaN,html,NaN,NaN,"<p><span style=""font-size: 10pt; line-height: ..."
7,visualization,{'revision': 288059},,4,7,http://datosabiertos.enacom.gob.ar/visualizati...,4,8,4,VELOC-PROME-DE-BAJAD-DE,vz,31361.0,"{'vz_lib': 'google', 'vz_impl_details': {'form...",NaN
8,datastream,NaN,,4,8,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,8,8,VELOC-PROME-DE-BAJAD-DE,ds,245546.0,"{'parameters': [], 'title': 'Velocidad media d...",NaN
9,visualization,{'revision': 280921},,4,9,http://datosabiertos.enacom.gob.ar/visualizati...,4,12,0,DISTR-DE-LOS-ACCES-76145,vz,31743.0,"{'vz_lib': 'd3', 'vz_impl_details': {'format':...",NaN
10,datastream,NaN,,4,10,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,12,4,ACCES-A-INTER-FIJO-23248,ds,240904.0,"{'parameters': [], 'title': 'Acceso a Internet...",NaN
11,datastream,NaN,,4,11,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,12,8,ACCES-A-INTER-FIJO-97624,ds,248812.0,"{'parameters': [], 'title': 'Accesos a Interne...",NaN
12,visualization,{'revision': 275023},,4,12,http://datosabiertos.enacom.gob.ar/visualizati...,4,16,0,INGRE-TRIME-POR-LA-PREST,vz,29879.0,"{'vz_lib': 'google', 'vz_impl_details': {'form...",NaN
13,datastream,NaN,,4,13,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,16,4,ACCES-A-INTER-FIJO-16249,ds,252829.0,"{'parameters': [], 'title': 'Accesos a Interne...",NaN
14,datastream,NaN,,4,14,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,16,8,ACCES-A-INTER-FIJO-62463,ds,252830.0,"{'parameters': [], 'title': 'Accesos a Interne...",NaN
15,datastream,NaN,,4,15,http://datosabiertos.enacom.gob.ar/dataviews/2...,4,20,0,LISTA-DE-LOCAL-CON-CONEC,ds,251962.0,"{'parameters': [], 'title': 'Listado de locali...",NaN
16,visualization,{'revision': 277615},,4,16,http://datosabiertos.enacom.gob.ar/visualizati...,4,20,4,CONEC-AL-SERVI-DE-INTER,vz,29951.0,"{'vz_lib': 'leaflet', 'vz_impl_details': {'for...",NaN

# dataset 0

Penetración de Internet fijo (accesos por cada 100 hogares)

In [ ]:
df0 = pd.read_csv('https://datosabiertos.enacom.gob.ar/rest/datastreams/275028/data.csv')

In [ ]:
df0.head(5)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33
3  2022          3            Chaco                        43,86
4  2022          3           Chubut                        84,38

In [ ]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

# dataset 1

Penetración por hogares nacional de Internet fijo,
Serie trimestral de la penetración del Internet fijo en la métrica por cada 100 hogares

In [ ]:
df1 = pd.read_csv('https://datosabiertos.enacom.gob.ar/rest/datastreams/281491/data.csv')

In [ ]:
df1.head(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,"76,64","23,95",Jul-Sept 2022
1,2022,2,"75,97","23,72",Abr-Jun 2022
2,2022,1,"73,88","23,05",Ene-Mar 2022
3,2021,4,"73,18","22,81",Oct-Dic 2021
4,2021,3,"70,58","21,98",Jul-Sept 2021

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     object
 3   Accesos por cada 100 hab      35 non-null     object
 4   Periodo                       35 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

# dataset 2

Total nacional de accesos a Internet fijo por banda ancha y banda angosta,
Número total de accesos al servicio de Internet fijo por banda ancha y banda angosta (trimestral)

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'TOTAL-NACIO-DE-ACCES-48866/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df2 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

In [ ]:
df2.Año = df2.Año.astype('int64')
df2.Trimestre = df2.Trimestre.astype('int64')

In [ ]:
df2.head(5)

    Año  Trimestre Banda ancha fija Dial up       Total        Periodo
0  2022          3       11,078,691  12,437  11,091,128  Jul-Sept 2022
1  2022          2       10,946,248  12,436  10,958,684   Abr-Jun 2022
2  2022          1       10,611,390  12,619  10,624,009   Ene-Mar 2022
3  2021          4       10,476,933  12,861  10,489,794   Oct-Dic 2021
4  2021          3       10,075,184  10,357  10,085,541  Jul-Sept 2021

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     object
 3   Dial up           35 non-null     object
 4   Total             35 non-null     object
 5   Periodo           35 non-null     object
dtypes: int64(2), object(4)
memory usage: 1.8+ KB

# dataset 3

Accesos a banda ancha y banda angosta por provincia,
Número de accesos al servicio de Internet fijo por banda ancha y banda angosta en cada provincia (trimestral)

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'BANDA-ANCHA-Y-BANDA-ANGOS/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df3 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

In [ ]:
df3.Año = df3.Año.astype('int64')
df3.Trimestre = df3.Trimestre.astype('int64')

In [ ]:
df3.head(5)

    Año  Trimestre        Provincia Banda ancha fija Dial up      Total
0  2022          3     Buenos Aires        4,715,469   6,199  4,721,668
1  2022          3  Capital Federal        1,545,534   2,145  1,547,679
2  2022          3        Catamarca           70,292       1     70,293
3  2022          3            Chaco          144,141       5    144,146
4  2022          3           Chubut          164,874     904    165,778

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    object
 4   Dial up           840 non-null    object
 5   Total             840 non-null    object
dtypes: int64(2), object(4)
memory usage: 39.5+ KB

# dataset 4

Serie trimestral de accesos a Internet fijo por tecnología,
Número de accesos al servicio de Internet fijo por tipo de tecnología. Total nacional (trimestral)

In [ ]:
df4 = pd.read_csv('https://datosabiertos.enacom.gob.ar/rest/datastreams/275029/data.csv')

In [ ]:
df4.head(5)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
3,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
4,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     object
 3   Cablemodem    35 non-null     object
 4   Fibra óptica  35 non-null     object
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     object
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

# dataset 5

Acceso a Internet fijo por tecnología y provincia,
Número de accesos al servicio de Internet fijo por tipo de tecnología en cada provincia (trimestral)

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'ACCES-A-INTER-FIJO-POR/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df5 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

eliminar  registro 840 no corrsponde a los datos

In [ ]:
df5.drop([840], axis=0, inplace=True)
df5.reset_index(drop=True, inplace=True)

corregir valores en registros

In [ ]:
df5[df5['Año'].str.contains('\*')].index

In [ ]:
df5['Año'] = df5['Año'].str.replace('\*', '')

In [ ]:
df5[df5['Trimestre'].str.contains('\*')].index

In [ ]:
df5['Trimestre'] = df5['Trimestre'].str.replace('\*', '')

In [ ]:
df5.Año = df5.Año.astype('int64')
df5.Trimestre = df5.Trimestre.astype('int64')

In [ ]:
df5.sample(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
748,2014,4,Chubut,"48,539",697,891,"12,256","6,159","68,542"
498,2017,3,San Luis,"11,407","7,576",347,26,"2,363","21,719"
9,2022,3,Jujuy,"19,257","52,978","40,172","4,033","2,383","118,823"
295,2019,3,Entre Ríos,"94,947","96,305","12,888","18,530","15,432","238,102"
223,2020,2,Entre Ríos,"89,391","99,423","13,954","20,042","11,303","234,113"

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    int64
 1   Trimestre     840 non-null    int64
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    object
 4   Cablemodem    840 non-null    object
 5   Fibra óptica  840 non-null    object
 6   Wireless      840 non-null    object
 7   Otros         840 non-null    object
 8   Total         840 non-null    object
dtypes: int64(2), object(7)
memory usage: 59.2+ KB

# dataset 6

In [ ]:
# html

Aclaración sobre el cálculo de la velocidad promedio de bajada de Internet fijo en Argentina

Hasta el tercer trimestre de 2017 los operadores del servicio de Internet fijo reportaban a ENACOM (antes AFTIC y CNC) el número de accesos entre los siguientes rangos de velocidad:

Hasta 512 kbps
Entre 512 kbps y 1 Mbps
Entre 1 Mbps y 6 Mbps
Entre 6 Mbps y 10 Mbps
Entre 10 Mbps y 20 Mbps
Entre 20 Mbps y 30 Mbps
Más de 30 Mbps

Con el fin de contar con mejor información del mercado y siguiendo metodologías internacionales de medición desde el cuarto trimestre de 2017 se solicita el número de accesos por Mbps.

En consecuencia y ante el desconocimiento exacto de la distribución de los accesos entre los rangos, la velocidad promedio (VP) está calculada usando el punto medio de cada rango como muestra la siguiente fórmula:

VP = (0,512*AR1 + 0,7512*AR2 + 3,5*AR3 + 8*AR4 + 15*AR5 + 25*AR6 + 30*AR7)/Total de accesos reportados

Donde AR1 es el total de accesos reportados para el primer rango (Hasta 512 kbps); AR2 es el total de accesos reportados para el segundo rango (Entre 512 kbps y 1 Mbps) y así sucesivamente.

Desde el cuarto trimestre de 2017, VP se calcula como el promedio de las velocidades unitarias en Mbps ponderadas por el número de accesos reportados para cada velocidad.

# dataset 7

Velocidad Media de bajada de Internet fijo,
Serie histórica de la velocidad media de descarga de Internet nacional (trimestral)

In [ ]:
df7 = pd.read_csv('https://datosabiertos.enacom.gob.ar/rest/datastreams/288059/data.csv')

In [ ]:
df7.head(5)

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022
3  2021          4                  52,34   Oct-Dic 2021
4  2021          3                  48,46  Jul-Sept 2021

In [ ]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
 3   Trimestre.1             35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

# dataset 8

Velocidad media de bajada de Internet fijo por provincia,
Serie histórica de la velocidad media de descarga de Internet por provincia (trimestral)

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'VELOC-PROME-DE-BAJAD-DE/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df8 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

Eliminar columnas con todos datos vacios

In [ ]:
df8.drop([''], axis=1, inplace=True)

In [ ]:
df8.Año = df8.Año.astype('int64')
df8.Trimestre = df8.Trimestre.astype('int64')

In [ ]:
df8.head(5)

    Año  Trimestre        Provincia Mbps (Media de bajada)
0  2022          3     Buenos Aires                  70.19
1  2022          3  Capital Federal                 101.05
2  2022          3        Catamarca                  60.99
3  2022          3            Chaco                  53.21
4  2022          3           Chubut                  15.57

In [ ]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    int64
 1   Trimestre               840 non-null    int64
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

# dataset 9

Distribución de los accesos totales nacionales a Internet fijo por velocidad,
Distribución de los accesos totales nacionales a Internet fijo por velocidad de bajada (último trimestre disponible)

In [ ]:
df9 = pd.read_csv('https://datosabiertos.enacom.gob.ar/rest/datastreams/280921/data.csv')

eliminar columna todos los datos nan

In [ ]:
df9.drop(['Unnamed: 11'], axis=1, inplace=True)

In [ ]:
df9.head(5)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128
1,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684
2,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009
3,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794
4,2021,3,40.174,41.437,2.550.229,1.095.772,710.122,536.364,4.948.174,163.269,10.085.541

In [ ]:
df9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      35 non-null     int64
 1   Trimestre                35 non-null     int64
 2   Hasta 512 kbps           35 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  35 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    35 non-null     object
 5   Entre 6 Mbps y 10 Mbps   35 non-null     object
 6   Entre 10 Mbps y 20 Mbps  35 non-null     object
 7   Entre 20 Mbps y 30 Mbps  35 non-null     object
 8   Más de 30 Mbps           35 non-null     object
 9   OTROS                    35 non-null     float64
 10  Total                    35 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.1+ KB

# dataset 10

Acceso a Internet Fijo por rangos de velocidad de bajada y provincia,
Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia (trimestral)

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'ACCES-A-INTER-FIJO-23248/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df10 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

In [ ]:
df10.Año = df10.Año.astype('int64')
df10.Trimestre = df10.Trimestre.astype('int64')

In [ ]:
df10.head(5)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,"29,985","27,709","290,315","297,915","267,044","124,190","3,618,689","65,821","4,721,668"
1,2022,3,Capital Federal,517,"5,742","34,371","67,829","51,946","28,692","1,253,105","105,477","1,547,679"
2,2022,3,Catamarca,71,384,"3,107","5,389","5,099","3,737","50,298","2,208","70,293"
3,2022,3,Chaco,461,987,"16,782","18,938","8,049","15,828","79,390","3,711","144,146"
4,2022,3,Chubut,109,"1,444","45,707","30,940","34,682","15,309","17,563","20,024","165,778"

In [ ]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    int64
 1   Trimestre            840 non-null    int64
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    object
 4   + 512 Kbps - 1 Mbps  840 non-null    object
 5   + 1 Mbps - 6 Mbps    840 non-null    object
 6   + 6 Mbps - 10 Mbps   840 non-null    object
 7   + 10 Mbps - 20 Mbps  840 non-null    object
 8   + 20 Mbps - 30 Mbps  840 non-null    object
 9   + 30 Mbps            840 non-null    object
 10  OTROS                840 non-null    object
 11  Total                840 non-null    object
dtypes: int64(2), object(10)
memory usage: 78.9+ KB

# dataset 11x

shape(481,97) poco relevante info resumida en dataset 10

Accesos a Internet fijo por velocidad bajada y provincia,
Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'ACCES-A-INTER-FIJO-97624/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df11 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

In [ ]:
df11.head(5)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,70 Mbps,71 Mbps,75 Mbps,77 Mbps,78 Mbps,80 Mbps,81 Mbps,83 Mbps,82 Mbps,86 Mbps
0,2022,3,Buenos Aires,"65,821",19,- 0,- 0,"29,774",192,"4,611",...,"3,163",- 0,"98,387",- 0,2,223,- 0,1,- 0,- 0
1,2022,3,Capital Federal,"105,477",31,- 0,- 0,451,35,"1,307",...,3,- 0,"30,482",- 0,- 0,8,- 0,- 0,- 0,- 0
2,2022,3,Catamarca,"2,208",- 0,- 0,- 0,34,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022,3,Chaco,"3,711",- 0,225,111,234,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022,3,Chubut,"20,024",8,- 0,- 0,69,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [ ]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481 entries, 0 to 480
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         481 non-null    object
 1   Trimestre   481 non-null    object
 2   Provincia   481 non-null    object
 3   Otros       481 non-null    object
 4   0,256 Mbps  481 non-null    object
 5   0,375 Mbps  481 non-null    object
 6   0,625 Mbps  481 non-null    object
 7   0,5 Mbps    481 non-null    object
 8   0,512 Mbps  481 non-null    object
 9   0,75 Mbps   481 non-null    object
 10  1 Mbps      481 non-null    object
 11  1,2 Mbps    481 non-null    object
 12  1,25 Mbps   481 non-null    object
 13  1,5 Mbps    481 non-null    object
 14  2 Mbps      481 non-null    object
 15  2,2 Mbps    481 non-null    object
 16  2,5 Mbps    481 non-null    object
 17  6,7 Mbps    481 non-null    object
 18  3 Mbps      481 non-null    object
 19  3,2 Mbps    481 non-null    object
 20  3,3 Mbps    481 non-null    object
 21  3,5 Mbps    481 non-null    object
 22  4 Mbps      481 non-null    object
 23  4,5 Mbps    481 non-null    object
 24  5 Mbps      481 non-null    object
 25  6 Mbps      481 non-null    object
 26  6,4 Mbps    481 non-null    object
 27  7 Mbps      481 non-null    object
 28  7,5 Mbps    481 non-null    object
 29  8 Mbps      481 non-null    object
 30  9 Mbps      481 non-null    object
 31  10 Mbps     481 non-null    object
 32  10,6 Mbps   481 non-null    object
 33  11 Mbps     481 non-null    object
 34  12 Mbps     481 non-null    object
 35  13 Mbps     481 non-null    object
 36  14 Mbps     481 non-null    object
 37  15 Mbps     481 non-null    object
 38  16 Mbps     481 non-null    object
 39  17 Mbps     481 non-null    object
 40  18 Mbps     481 non-null    object
 41  19 Mbps     481 non-null    object
 42  20 Mbps     481 non-null    object
 43  21 Mbps     481 non-null    object
 44  22 Mbps     481 non-null    object
 45  23 Mbps     481 non-null    object
 46  24 Mbps     481 non-null    object
 47  25 Mbps     481 non-null    object
 48  25,1 Mbps   481 non-null    object
 49  25,11 Mbps  481 non-null    object
 50  25,5 Mbps   481 non-null    object
 51  26 Mbps     481 non-null    object
 52  28 Mbps     481 non-null    object
 53  29 Mbps     481 non-null    object
 54  30 Mbps     481 non-null    object
 55  31 Mbps     481 non-null    object
 56  32 Mbps     481 non-null    object
 57  34 Mbps     481 non-null    object
 58  35 Mbps     481 non-null    object
 59  36 Mbps     481 non-null    object
 60  37 Mbps     481 non-null    object
 61  38 Mbps     481 non-null    object
 62  39 Mbps     481 non-null    object
 63  40 Mbps     481 non-null    object
 64  41 Mbps     481 non-null    object
 65  45 Mbps     481 non-null    object
 66  46 Mbps     481 non-null    object
 67  47 Mbps     481 non-null    object
 68  48 Mbps     481 non-null    object
 69  49 Mbps     481 non-null    object
 70  50 Mbps     481 non-null    object
 71  51 Mbps     481 non-null    object
 72  52 Mbps     481 non-null    object
 73  54 Mbps     481 non-null    object
 74  55 Mbps     481 non-null    object
 75  56 Mbps     481 non-null    object
 76  58 Mbps     481 non-null    object
 77  59 Mbps     481 non-null    object
 78  60 Mbps     481 non-null    object
 79  61 Mbps     481 non-null    object
 80  62 Mbps     481 non-null    object
 81  63 Mbps     481 non-null    object
 82  64 Mbps     481 non-null    object
 83  65 Mbps     481 non-null    object
 84  66 Mbps     481 non-null    object
 85  67 Mbps     481 non-null    object
 86  68 Mbps     481 non-null    object
 87  70 Mbps     481 non-null    object
 88  71 Mbps     481 non-null    object
 89  75 Mbps     481 non-null    object
 90  77 Mbps     481 non-null    object
 91  78 Mbps     481 non-null    object
 92  80 Mbps     481 non-null    object
 93  81 Mbps     481 non-null    object
 94  83 Mbps     481 non-null    object
 95  82 Mbps     481 non-null    object
 96  86 Mbps     481 non-null    object
dtypes: object(97)
memory usage: 364.6+ KB

# dataset 12

Ingresos trimestrales por la prestación del servicio de Internet fijo,
Ingresos trimestrales de los operadores por el servicio de Internet fijo

In [ ]:
df12 = pd.read_csv('https://datosabiertos.enacom.gob.ar/rest/datastreams/275023/data.csv')

In [ ]:
df12.head(5)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022
3  2021          4                45.467.887   Oct-Dic 2021
4  2021          3                42.999.944  Jul-Sept 2021

In [ ]:
df12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

# dataset 13x

shape(3098,83) poco relevante, muchas columnas

Accesos a Internet fijo por velocidad de bajada y localidad,
Número de accesos al servicio de Internet fijo por velocidad de bajada en cada localidad declarada

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'ACCES-A-INTER-FIJO-16249/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df13 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

In [ ]:
df13.head(5)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,,,,2,,,...,,,9,,,,,,,
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,,,,,,,...,,,,,,,,,,
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,,,,1,,,...,,,,,,,,,,
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,,,,,,,...,,,,,,,,,,
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,,,,,,,...,,,,,,,,,,

In [ ]:
df13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3098 non-null   object
 1   Partido     3098 non-null   object
 2   Localidad   3098 non-null   object
 3   Link Indec  3098 non-null   object
 4   Otros       3098 non-null   object
 5   0,256 mbps  3098 non-null   object
 6   0,375 mbps  3098 non-null   object
 7   0,5 mbps    3098 non-null   object
 8   0,512 mbps  3098 non-null   object
 9   0,625 mbps  3098 non-null   object
 10  0,75 mbps   3098 non-null   object
 11  1 mbps      3098 non-null   object
 12  1,25 mbps   3098 non-null   object
 13  1,5 mbps    3098 non-null   object
 14  2 mbps      3098 non-null   object
 15  2,2 mbps    3098 non-null   object
 16  2,5 mbps    3098 non-null   object
 17  3 mbps      3098 non-null   object
 18  3,3 mbps    3098 non-null   object
 19  3,5 mbps    3098 non-null   object
 20  4 mbps      3098 non-null   object
 21  4,5 mbps    3098 non-null   object
 22  5 mbps      3098 non-null   object
 23  6 mbps      3098 non-null   object
 24  6,4 mbps    3098 non-null   object
 25  7 mbps      3098 non-null   object
 26  7,5 mbps    3098 non-null   object
 27  8 mbps      3098 non-null   object
 28  9 mbps      3098 non-null   object
 29  10 mbps     3098 non-null   object
 30  11 mbps     3098 non-null   object
 31  12 mbps     3098 non-null   object
 32  13 mbps     3098 non-null   object
 33  14 mbps     3098 non-null   object
 34  15 mbps     3098 non-null   object
 35  16 mbps     3098 non-null   object
 36  17 mbps     3098 non-null   object
 37  18 mbps     3098 non-null   object
 38  19 mbps     3098 non-null   object
 39  20 mbps     3098 non-null   object
 40  21 mbps     3098 non-null   object
 41  22 mbps     3098 non-null   object
 42  23 mbps     3098 non-null   object
 43  24 mbps     3098 non-null   object
 44  25 mbps     3098 non-null   object
 45  25,1 mbps   3098 non-null   object
 46  25,11 mbps  3098 non-null   object
 47  25,5 mbps   3098 non-null   object
 48  26 mbps     3098 non-null   object
 49  30 mbps     3098 non-null   object
 50  31 mbps     3098 non-null   object
 51  32 mbps     3098 non-null   object
 52  34 mbps     3098 non-null   object
 53  35 mbps     3098 non-null   object
 54  36 mbps     3098 non-null   object
 55  38 mbps     3098 non-null   object
 56  39 mbps     3098 non-null   object
 57  40 mbps     3098 non-null   object
 58  41 mbps     3098 non-null   object
 59  45 mbps     3098 non-null   object
 60  46 mbps     3098 non-null   object
 61  49 mbps     3098 non-null   object
 62  50 mbps     3098 non-null   object
 63  55 mbps     3098 non-null   object
 64  58 mbps     3098 non-null   object
 65  59 mbps     3098 non-null   object
 66  60 mbps     3098 non-null   object
 67  61 mbps     3098 non-null   object
 68  62 mbps     3098 non-null   object
 69  64 mbps     3098 non-null   object
 70  65 mbps     3098 non-null   object
 71  66 mbps     3098 non-null   object
 72  70 mbps     3098 non-null   object
 73  75 mbps     3098 non-null   object
 74  78 mbps     3098 non-null   object
 75  80 mbps     3098 non-null   object
 76  82 mbps     3098 non-null   object
 77  83 mbps     3098 non-null   object
 78  85 mbps     3098 non-null   object
 79  90 mbps     3098 non-null   object
 80  92 mbps     3098 non-null   object
 81  95 mbps     3098 non-null   object
 82  100 mbps    3098 non-null   object
dtypes: object(83)
memory usage: 2.0+ MB

# dataset 14

Accesos a Internet fijo por tecnología y localidad,
Número de accesos al servicio de Internet fijo por tecnología en cada localidad declarada Categoría

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'ACCES-A-INTER-FIJO-62463/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df14 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

Eliminar columna con todos los valores vacios

In [ ]:
df14.drop([''], axis=1, inplace=True)

In [ ]:
df14.head(5)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,"4,704",- 0,2,- 0,975,- 0,664,"7,218"
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,282"
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6

In [ ]:
df14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3142 non-null   object
 1   Partido        3142 non-null   object
 2   Localidad      3142 non-null   object
 3   Link Indec     3142 non-null   object
 4   ADSL           3142 non-null   object
 5   CABLEMODEM     3142 non-null   object
 6   DIAL UP        3142 non-null   object
 7   FIBRA OPTICA   3142 non-null   object
 8   OTROS          3142 non-null   object
 9   SATELITAL      3142 non-null   object
 10  WIMAX          3142 non-null   object
 11  WIRELESS       3142 non-null   object
 12  Total general  3142 non-null   object
dtypes: object(13)
memory usage: 319.2+ KB

# dataset 15

Listado de localidades con conectividad a internet,
Listado de localidades con conectividad a internet, con detalle por tipo de conexión.

In [ ]:
URlAPI = 'http://api.datosabiertos.enacom.gob.ar/api/v2/'
docType = 'datastreams/'
guid = 'LISTA-DE-LOCAL-CON-CONEC/'
formatRes = 'data.ajson/'
URlRequest = URlAPI + docType + guid + formatRes
authKey = 'kPiA1Tds8eE6ov8kG0tQWZYW4B0AXfuTDKO5nk5f'
paramReq = {'auth_key': authKey}

In [ ]:
response = requests.get(URlRequest, params=paramReq)

In [ ]:
data = response.json()

In [ ]:
df15 = pd.DataFrame(data['result'][1:], columns= data['result'][0])

In [ ]:
df15.head(5)

,,Partido,Localidad,ADSL,,DIALUP,FIBRAOPTICA,4G,,TELEFONIAFIJA,,SATELITAL
0,,Bahía Blanca,Villa Bordeau,,,--,--,,,--,,--
1,BUENOS AIRES,,Villa Espora,--,--,,--,--,--,,--,
2,BUENOS AIRES,,,SI,SI,,,SI,SI,,SI,
3,BUENOS AIRES,Balcarce,,--,--,--,,--,--,SI,SI,--
4,BUENOS AIRES,,Napaleofú,--,--,,SI,SI,SI,,,--

In [ ]:
df15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0                  4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4                  4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8                  4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10                 4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

# dataset 16

Conectividad al servicio de Internet,
Consulta las tecnologías disponibles en tu localidad para acceder al servicio de Internet fijo y móvil

In [ ]:
df16 = pd.read_csv('https://datosabiertos.enacom.gob.ar/rest/datastreams/277615/data.csv')

renombrar columna

In [ ]:
df16.rename({'Unnamed: 0':'Provincia'}, axis=1, inplace=True)

In [ ]:
df16.head(5)

,Provincia,Partido,Localidad,Unnamed: 3,Unnamed: 4,CABLEMODEM,DIALUP,Unnamed: 7,Unnamed: 8,WIRELESS,TELEFONIAFIJA,Unnamed: 11,Unnamed: 12,link,Latitud,Unnamed: 15
0,NaN,Bahía Blanca,Villa Bordeau,0.0,NaN,--,--,--,NaN,--,--,NaN,SI,6056020.0,"-38,6472605094596",NaN
1,BUENOS AIRES,NaN,NaN,0.0,--,NaN,NaN,--,--,NaN,NaN,--,--,NaN,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,NaN,Balcarce,38376.0,SI,NaN,SI,SI,--,NaN,NaN,SI,SI,6063010.0,NaN,"-58,2551665841248"
3,BUENOS AIRES,NaN,NaN,337.0,--,NaN,NaN,--,--,NaN,SI,NaN,--,6063020.0,"-37,9412057603",NaN
4,BUENOS AIRES,Balcarce,NaN,374.0,--,--,NaN,SI,--,SI,SI,SI,NaN,6063030.0,"-37,6254980210026","-58,7461862359423"

In [ ]:
df16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      2871 non-null   object
 1   Partido        2866 non-null   object
 2   Localidad      2884 non-null   object
 3   Unnamed: 3     2879 non-null   float64
 4   Unnamed: 4     2873 non-null   object
 5   CABLEMODEM     2862 non-null   object
 6   DIALUP         2882 non-null   object
 7   Unnamed: 7     2878 non-null   object
 8   Unnamed: 8     2872 non-null   object
 9   WIRELESS       2864 non-null   object
 10  TELEFONIAFIJA  2873 non-null   object
 11  Unnamed: 11    2871 non-null   object
 12  Unnamed: 12    2879 non-null   object
 13  link           2865 non-null   float64
 14  Latitud        2872 non-null   object
 15  Unnamed: 15    2879 non-null   object
dtypes: float64(2), object(14)
memory usage: 539.1+ KB

# -----------------------

# dfA
### df_35 = df1 + df2 + df4 + df7 + df9 + df12

In [ ]:
df_35 = df1.merge(df2, how='inner', on=['Año', 'Trimestre'], suffixes=('_a', '_b'))

In [ ]:
df_35 = df_35.merge(df4, how='inner', on=['Año', 'Trimestre'], suffixes=('_c', '_d'))

In [ ]:
df_35 = df_35.merge(df7, how='inner', on=['Año', 'Trimestre'], suffixes=('_e', '_f'))

In [ ]:
df_35 = df_35.merge(df9, how='inner', on=['Año', 'Trimestre'], suffixes=('_g', '_h'))

In [ ]:
df_35 = df_35.merge(df12, how='inner', on=['Año', 'Trimestre'], suffixes=('_i', '_j'))

In [ ]:
pd.set_option('display.max_columns', None) # mostrar todas las columnas
df_35.sample(5)

In [ ]:
df_35.info()

In [ ]:
# eliminar columnas
df_35.drop(['Periodo_b', 'Total_d', 'Periodo_i', 'Periodo_j'], axis=1, inplace=True)

In [ ]:
# renombrar columnas
df_35.rename({'Total_c': 'Total_a'}, axis=1, inplace=True)

In [ ]:
df_35.sample(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo_a,Banda ancha fija,Dial up,Total_a,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Mbps (Media de bajada),Trimestre.1,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total,Ingresos (miles de pesos)
11,2019,4,"62,92","19,49",Oct-Dic 2019,"8,783,053","10,128","8,793,181",2.414.575,4.883.869,941.295,340.144,213.298,"28,26",Oct-Dic 2019,38.272,28.980,2.792.307,1.046.128,851.619,1.004.083,2.830.746,201.046,8.793.181,24.169.251
5,2021,2,"69,24","21,55",Abr-Jun 2021,"9,852,702","10,382","9,863,084",2.018.587,5.641.731,1.472.246,476.968,253.552,"45,63",Abr-Jun 2021,40.172,42.024,2.531.271,1.080.279,693.277,647.401,4.661.291,167.369,9.863.084,38.239.667
26,2016,1,"51,85","15,9",Ene-Mar 2016,"6,874,704","32,652","6,907,356",3.792.493,2.806.359,164.371,85.370,58.763,"5,08",Ene-Mar 2016,30.428,404.810,4.944.358,762.999,641.646,27.664,23.380,0.000,6.835.285,5.936.845
12,2019,3,"65,79","20,36",Jul-Sept 2019,"9,142,891","21,793","9,164,684",2.909.805,4.800.091,852.221,338.241,264.326,"24,18",Jul-Sept 2019,241.713,80.599,3.309.137,1.026.859,806.466,1.141.545,2.314.898,243.467,9.164.684,21.652.748
7,2020,4,"67,62","21,01",Oct-Dic 2020,"9,561,546","10,016","9,571,562",2.213.949,5.371.824,1.311.199,421.554,253.036,"42,36",Oct-Dic 2020,39.510,42.185,2.622.638,1.073.875,786.595,582.420,4.239.237,185.102,9.571.562,33.539.703

In [ ]:
df_35.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     object
 3   Accesos por cada 100 hab      35 non-null     object
 4   Periodo_a                     35 non-null     object
 5   Banda ancha fija              35 non-null     object
 6   Dial up                       35 non-null     object
 7   Total_a                       35 non-null     object
 8   ADSL                          35 non-null     object
 9   Cablemodem                    35 non-null     object
 10  Fibra óptica                  35 non-null     object
 11  Wireless                      35 non-null     float64
 12  Otros                         35 non-null     float64
 13  Mbps (Media de bajada)        35 non-null     object
 14  Trimestre.1                   35 non-null     object
 15  Hasta 512 kbps                35 non-null     float64
 16  Entre 512 Kbps y 1 Mbps       35 non-null     float64
 17  Entre 1 Mbps y 6 Mbps         35 non-null     object
 18  Entre 6 Mbps y 10 Mbps        35 non-null     object
 19  Entre 10 Mbps y 20 Mbps       35 non-null     object
 20  Entre 20 Mbps y 30 Mbps       35 non-null     object
 21  Más de 30 Mbps                35 non-null     object
 22  OTROS                         35 non-null     float64
 23  Total                         35 non-null     object
 24  Ingresos (miles de pesos)     35 non-null     object
dtypes: float64(5), int64(2), object(18)
memory usage: 7.1+ KB

In [ ]:
# dataset
df_35.to_csv('dfA.csv', index=False)

# ------------------------

# dfB
### df_840 = df0 + df3 + df5 + df8 + df10

In [ ]:
df_840 = df0.merge(df3, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_a', '_b'))

In [ ]:
df_840 = df_840.merge(df5, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_c', '_d'))

In [ ]:
df_840 = df_840.merge(df8, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_e', '_f'))

In [ ]:
df_840 = df_840.merge(df10, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_g', '_h'))

In [ ]:
df_840.sample(5)

In [ ]:
df_840.info()

In [ ]:
# eliminar columnas
df_840.drop(['Total_d'], axis=1, inplace=True)

In [ ]:
# renombrar columnas
df_840.rename({'Total_c': 'Total_a'}, axis=1, inplace=True)

In [ ]:
df_840.sample(5)

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Banda ancha fija,Dial up,Total_a,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Mbps (Media de bajada),HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
658,2015,4,La Pampa,"58,76","66,054",312,"66,366","12,755","42,705","4,327","6,205",374,2.94,592,"12,951","48,798",16,63,49,10,0,"62,479"
107,2021,3,La Rioja,"77,26","82,157",3,"82,160","11,329","54,744","9,444","6,613",30,38.87,18,1,"5,366","5,979","23,315","4,868","42,613",0,"82,160"
147,2021,1,Chaco,"43,14","139,767",3,"139,770","43,214","61,251","25,426","8,004","1,875",33.63,301,112,"24,357","22,102","27,556","14,496","42,462","8,384","139,770"
510,2017,2,Corrientes,"31,39","90,085",12,"90,097","55,262","33,192",258,"1,354",31,6.79,15,"5,912","46,483","21,776","13,043","2,218",647,0,"90,094"
201,2020,3,Jujuy,"54,04","106,728",- 0,"106,728","32,611","57,682","11,112",952,"4,371",21.91,55,182,"32,131","10,566","45,198",293,"15,238","3,065","106,728"

In [ ]:
df_840.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
 4   Banda ancha fija              840 non-null    object
 5   Dial up                       840 non-null    object
 6   Total_a                       840 non-null    object
 7   ADSL                          840 non-null    object
 8   Cablemodem                    840 non-null    object
 9   Fibra óptica                  840 non-null    object
 10  Wireless                      840 non-null    object
 11  Otros                         840 non-null    object
 12  Mbps (Media de bajada)        840 non-null    object
 13  HASTA 512 kbps                840 non-null    object
 14  + 512 Kbps - 1 Mbps           840 non-null    object
 15  + 1 Mbps - 6 Mbps             840 non-null    object
 16  + 6 Mbps - 10 Mbps            840 non-null    object
 17  + 10 Mbps - 20 Mbps           840 non-null    object
 18  + 20 Mbps - 30 Mbps           840 non-null    object
 19  + 30 Mbps                     840 non-null    object
 20  OTROS                         840 non-null    object
 21  Total                         840 non-null    object
dtypes: int64(2), object(20)
memory usage: 150.9+ KB

In [ ]:
# dataset
df_840.to_csv('dfB.csv', index=False)